<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Post List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search by post title" (ionInput)="search($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-label class="ion-text-wrap">
        <h2>{{ post.id }}. {{ post.title }}</h2>
        <p >{{ post.body }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
